
.the-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px 3px rgb(206, 198, 206); 
    margin: 2% 20% 0 ;
    border-radius: 8px;
}

h2 {
    margin: 25px;
}

.img {
    width: 40%;
}

p {
    text-align: center;
    margin: 15px;
}

.btn {
    min-height: 40px;
    min-width: 200px;
    margin: 20px 0;
    font-weight: 600;
}

.btn:active {
    scale: 1.03;
}

.home-btn {
    padding-bottom: 15px;
}

.home-icon {
    font-size: 25px;
    color: blue;
    margin-left: 15px;
    translate:  0 7px;
}

.toy-detail-btn {
    text-align: center;
    align-items: center;
    padding-bottom: 15px;
}

.toy-detail-cart-icon {
    font-size: 25px;
    margin-left: 15px;
    translate:  0 7px;
    color: blue;
}

.detail-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.detail-icon {
    color: blue;
    font-size: 40px;
    text-align: center;
    position: absolute;
    margin-left: 28px;
    top: 4px;
}

.red-box-detail {
    background-color: tomato;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    translate: 52px -14px;
    border-radius: 6px;
}

.detail-title-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0;
    position: relative;
    top: 0px;
    bottom: 25px;
}




