
.the-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.detail-icon {
    color: blue;
    font-size: 40px;
    text-align: center;
    position: absolute;
    margin-left: 28px;
    top: 4px;
}

.cart-icon {
    font-size: 25px;
    margin-left: 15px;
    translate:  0 507px;
    color: blue;
}

.detail-title-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0;
    position: relative;
    top: 0px;
    bottom: 25px;
}

.red-box-detail {
    background-color: tomato;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    translate: 52px -14px;
    border-radius: 6px;
}

.amount-title {
    text-align: center;
}

.amount-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.checkout-icon {
    color: blue;
    font-size: 32px;
    position: absolute;
    right: 45px;
}

h2 {
    text-align: center;
}

.table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    margin: 0% 15%;
    margin-bottom: 50px;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 5px 5px 5px 3px rgb(206, 198, 206); 
    padding: 0 25px;
}

.item-img {
    width: 15%;
}

.item-name {
    flex: 3;
}

.item-price {
    flex: 3;
}

.item-input {
    width: 60px;
    margin-right: 25px;
    background-color: #eee;
    height: 30px;
    border-radius: 7px;
    padding: 10px;
    border: none;
    font-weight: 600;
}

.item-input:focus {
    outline: none;
}

.remove-button {
    background-color: tomato;
    font-weight: 600;
}

.remove-button:hover {
    background-color: rgb(199, 78, 57);
}


.input-button-container {
    max-width: 40%;
}
