
.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-input {
    min-height: 30px;
    min-width: 200px;
    border: none;
    border-radius: 6px;
    background-color: #eee;
    margin: 0 5px;
    padding: 0 10px;
    font-weight: 600;
}

.search-input:focus {
    outline: none;
}

button {
    min-height: 30px;
    min-width: 50px;
    background-color: #ddd;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #aaa;
    color: #fff;
}